$default-cell-gap-desktop: 15px;
$default-cell-row-gap-mobile: 25px;
$default-cell-column-gap-mobile: 28px;
$default-column-width-desktop-min: 100px;
$default-column-width-desktop-max: 305px;
$default-column-width-mobile-min: 150px;
$default-column-width-mobile-max: 380px;
