<div class="single-page-container">
	<section class="meta">
		<ng-container brComponent="metadata"></ng-container>
	</section>
	<header>
		<nav class="navbar" role="navigation">
			<ng-container
				brComponent="header-navigation/header-container"
			></ng-container>
		</nav>
	</header>
	<section class="main-body {{ navIsStickyClass }}">
		<ng-container brComponent="drop-zone-1"></ng-container>
		<ng-container brComponent="drop-zone-2"></ng-container>
		<ng-container brComponent="drop-zone-3"></ng-container>
		<ng-container brComponent="drop-zone-4"></ng-container>
	</section>
	<footer>
		<ng-container brComponent="footer/footer-container"></ng-container>
	</footer>
</div>
