@import 'src/styles/tools/tools.mediaquery';

.single-page-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.main-body {
		width: 100%;
		flex: 1;

		&.nav-is-sticky {
			padding-top: 70px;

			@include mq-breakpoint-md() {
				padding-top: 132px;
			}
		}
	}
}
