<p class="login-forgot">
	New Password and Confirm Password field should be validated with the below
	criteria:
</p>
<ul [ngClass]="{ 'has-check': !!content }">
	<li
		[ngClass]="{ checked: content[req.requirement] }"
		*ngFor="let req of requirements"
	>
		<div class="checked-req">
			<div class="icon-" *ngIf="!!content">
				{{ content[req.requirement] ? 'checked' : 'unchecked' }}
			</div>
			<p class="req-labels" [innerHTML]="req.label | safe: 'html'"></p>
		</div>
		<p class="special-chars" *ngIf="req.requirement === 'special'">
			()&#123;&#125;!@#$%^&*_+-=[];',./&lt;>?:"|\`~
		</p>
	</li>
</ul>
