@import 'src/styles/tools/tools.mediaquery';
@import 'src/styles/tools/tools.typography';
@import 'src/styles/settings/settings.colors';

:host {
	display: block;

	.login-forgot {
		display: flex;
		text-align: left;
		color: $mohawk-black;

		@include font-nunito-regular($size: 14px, $lineheight: 15px);
		@include mq-breakpoint-md() {
			@include font-nunito-regular($size: 11px, $lineheight: 14px);
		}
	}
	li {
		text-align: left;
		align-items: baseline;
		color: $color-body-text;
		@include font-nunito-regular(17);
		@include mq-breakpoint-md() {
			@include font-nunito-regular($size: 11px, $lineheight: 14px);
		}

		.checked-req {
			display: flex;
			text-align: left;
			align-items: baseline;
			@include font-nunito-regular(17);
			@include mq-breakpoint-md() {
				@include font-nunito-regular($size: 11px, $lineheight: 14px);
			}
			p {
				color: $mohawk-black;
				margin: 0 0 5px 5px;
				@include font-nunito-regular($size: 11px, $lineheight: 14px);
			}
		}

		.req-labels {
			margin-left: 5px;
		}

		&.checked {
			color: $color-green;
		}

		> span {
			margin-right: 5px;
		}

		.my-account__error {
			color: $color-black;
			@include font-nunito-light(14);
		}

		.text-success {
			color: $color-green;
		}

		::ng-deep .special-chars {
			display: block;
		}

		.my-account__error {
			color: $color-black;
			@include font-nunito-light(14);
		}

		.text-success {
			color: $color-green;
		}

		.special-chars {
			display: block;
		}
	}

	.special-chars {
		padding-left: 18px;
		margin-bottom: 5px;
	}

	ul {
		list-style-type: '- ';
		margin: 10px 0 0 0;
		padding-left: 0;

		&.has-check {
			list-style-type: none;
		}
	}
}
