<mflooring-layout-wrapper
	[presentation]="{ isInset: true }"
	*ngIf="breadcrumbsPresentation"
>
	<div
		class="breadcrumbs-wrapper"
		*ngIf="breadcrumbs$ | async as breadcrumbs"
		[ngClass]="pageTitleVisDemo"
	>
		<div [innerHTML]="jsonLD | safe: 'html'"></div>
		<ul>
			<!-- Home Page Crumb  -->
			<li class="breadcrumb">
				<a captureClicks href="/" id="homeBreadcrumb">Home</a>
			</li>
			<!-- Linked Crumbs  -->
			<li class="breadcrumb" *ngFor="let crumb of breadcrumbs; index as i">
				<mflooring-icon-button
					[presentation]="{
						size: 'xsmall',
						type: '',
						iconName: 'right'
					}"
					class="menu-utility__icon"
				></mflooring-icon-button>
				<a captureClicks [href]="crumb.url" id="crumbLabel-{{ i }}">{{
					crumb.label
				}}</a>
			</li>
			<!-- Current Page Title Crumb  -->
			<li class="breadcrumb">
				<!-- <span class="breadcrumb-icon icon-">link</span> -->
				<mflooring-icon-button
					[presentation]="{
						size: 'xsmall',
						type: '',
						iconName: 'right'
					}"
					class="menu-utility__icon"
				></mflooring-icon-button>
				<span class="label">
					{{ pageTitle$() | async }}
				</span>
			</li>
		</ul>
	</div>
</mflooring-layout-wrapper>
