@import 'src/styles/tools/tools.mediaquery';
@import 'src/styles/elements/elements.themes';

$content-margin-bottom-small: 10px;
$content-margin-bottom-large: 5px;

:host {}

.two-column-compound {

	&.margin-large {
		margin: 0 0 var(--compound-margin-bottom, #{$content-margin-bottom-large});
	}

	&.margin-small {
		margin: 0 0
			var(--compound-margin-bottom-small, #{$content-margin-bottom-small});
	}

	&__container {
		display: grid;
		grid-template-rows: auto;
		grid-template-areas: 'left'
			'right';
		grid-template-columns: auto;
		

		@include mq-breakpoint-md(){
			gap: 40px;
		}

		@include mq-breakpoint-sm() {
			grid-template-areas: 'left right';
			grid-template-columns: 1fr 1fr;
			gap: 20px;

			&.forty-sixty {
				grid-template-columns: 2fr 3fr;
			}

			&.sixty-forty {
				grid-template-columns: 3fr 2fr;
			}
		}

		&__left {
			grid-area: left;
		}

		&__right {
			grid-area: right;
		}
	}
}
