@import './src/styles/settings/settings.colors';
@import 'src/styles/settings/settings.containers';
@import './src/styles/tools/tools.typography';

@import './src/styles/tools/tools.mediaquery';

$mobile-padding-x: 10px;
$desktop-padding-x: 30px;
$default-padding-y: 10px;
$copyright-text-sizes: 12px;

$default-gap: 10px;
$default-bottom-space: 15px;

// footer menus
$footer-nav-menu-hSpacing: 80px;
$footer-nav-menu-vSpacing: 30px;

// footer menu items
$footer-nav-menu-item-hSpacing: 30px;
$footer-nav-menu-item-vSpacing: 15px;
$footer-nav-menu-item-font-size: 11px;

// footer social items
$footer-nav-menu-item-icon-size: 2.13rem;
$social-icon-size: 30px;

$footer-social-media-text: [14];
$footer-menu-heading-text: [16, 15];

:host {
	background-color: $color-black;
	display: block;
	padding: $default-padding-y $mobile-padding-x;

	@include mq-breakpoint-md() {
		// display: grid;
		// grid-template-columns: 240px 1fr 300px;
		// padding: 5px $desktop-padding-x;
	}
}

// :host::ng-deep {
// 	.footer__menu__list {
// 		li {
// 			mflooring-menu-item {
// 				a {
// 					@include font-nunito-regular($footer-nav-menu-item-font-size);
// 				}
// 			}
// 		}
// 	}
// }

.copyright {
	//grid-column-start: 2;
	//color: var(--color-text-primary-inverted);
	color: $color-white;
	text-align: center;
	width: 100%;
	padding: 5px 0;
	// padding-bottom: 5px;
	@include font-nunito-regular($size: $copyright-text-sizes, $lineheight: 16px);

	@include mq-breakpoint-md() {
		width: 50%;
	}
	p {
		@include font-nunito-regular($size: $copyright-text-sizes);
		padding: 0;
		margin: 0;
	}
}

.footer-links {
	//grid-column-start: 3;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: $color-white;
	@include font-nunito-regular($size: $copyright-text-sizes);
	@include mq-breakpoint-md() {
		text-align: right;
		color: $color-white;
		width: 50%;
	}
	a {
		margin: 0 5px;
		cursor: pointer;
		text-decoration: none;
		color: $color-white;
		@include font-nunito-regular($size: $copyright-text-sizes);
		text-align: center;
		&:hover {
			text-decoration: underline;
		}
		@include mq-breakpoint-md() {
			color: var(--color-text-primary-inverted);
		}
		&::after {
			border-right: 1px solid $color-white;
		}
	}
}

.copyright-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	@include mq-breakpoint-md() {
		flex-direction: row;
		max-width: $content-max-width;
		margin: auto;
	}
}

.footer {
	// display: grid;
	// grid-template-areas: 'navigation . social';
	// grid-template-columns: 1fr 10px auto;
	// width: 100%;
	width: 100%;
	display: none;
	@include mq-breakpoint-md() {
		width: 30%;
		display: inline-flex;
	}
	&__menu {
		//grid-area: navigation;
		//display: grid;
		width: 100%;
		//grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		//column-gap: 10px;

		@include mq-breakpoint-lg() {
			column-gap: 20px;
		}

		&__item {
			margin-bottom: $footer-nav-menu-vSpacing;
		}

		&__list {
			//display: grid;
			grid-template-columns: 1fr;
			row-gap: $footer-nav-menu-item-vSpacing;

			@include mq-breakpoint-lg() {
				// grid-template-columns: auto;
				grid-template-rows: auto auto auto;
				// grid-auto-flow: column;
				column-gap: $footer-nav-menu-item-hSpacing;
			}
		}
		&__logo {
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
			// width: 128px;

			mflooring-logo-footer {
				// width: 100%;
				max-width: 128px;
			}
		}
	}

	&__social-links {
		grid-area: social;

		&__item {
			font-size: $footer-nav-menu-item-icon-size;
			color: $color-grey;
			// background: $color-white;
			box-shadow: inset 0 0 3px black;
			text-decoration: none;
			display: inline-block;
			line-height: 0;
			border-radius: 5px;
			overflow: hidden;
		}

		&__list {
			display: flex;
			// column-gap: $default-gap;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-right: 10px;
				width: $social-icon-size;
			}
		}
	}
}

.footer__menu__title,
.footer__social-links__title,
.footer__search-box__title {
	margin-bottom: $default-bottom-space;

	@include font-nunito-regular(18);
}

.footer__menu__title {
	@include font-nunito-bold($size: $footer-menu-heading-text);
}

.footer__social-links__title {
	@include font-nunito-regular($size: $footer-social-media-text);
}
